
body {
       padding: 0;
       margin: 0;
       display: flex;
       justify-content: center;
       align-items: center;
       height: 100vh;
       width: 100vw;
       overflow: hidden;
}

article {
       display: ruby-text;
       margin: auto auto;
       transform: rotate(45deg);
}

.marquee-parent {
       border: 1px solid black;
       width: 400px;
       height: 400px;
       border-radius: 30px;
       transition: all 1s ease;
}
.rotateAndScale{
       transform: rotate(600deg) scale(0);
}

.circle{
       position: absolute;
       top: 0;
       left: 0;
       opacity: 0;
       display: none;
       width: 100px;
       height: 100px;
       background-color: aqua;
       border-radius: 100%;
       transition: all 1s ease;
}

.box-p {
       position: relative;
       top: 0;
}

.box1 {
       width: 100px;
       height: 100px;
       background-color: aqua;
       border-radius: 100%;
       transition: all .5s ease;
}

@media only screen and (max-width:572px) {
       .marquee-parent {
              border: 1px solid black;
              width: 300px;
              height: 300px;
              border-radius: 30px;
       }

       .box1 {
              width: 50px;
              height: 50px;
              background-color: aqua;
              border-radius: 100%;
       }
}
